.notification {
  position: fixed; /* Position fixe pour rester en haut de la page */
  top: 50px; /* À 50px du haut de la page */
  left: 50%; /* Centrage horizontal */
  transform: translateX(-50%); /* Centrage horizontal */
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
  padding: 10px 20px; /* Espacement interne */
  margin-bottom: 20px; /* Marge inférieure pour l'éloigner du contenu suivant */
  max-width: calc(100% - 100px); /* Largeur maximale égale à la largeur de la page moins 100px */
  z-index: 100;
}

.message {
  margin: 0;
}
