/* Modal CSS */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour l'arrière-plan */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Assurez-vous que la modal est en premier plan */
}

.modal {
  background-color: var(--blackLight); /* Couleur de fond de la modal */
  padding: 30px;
  border-radius: 10px;
  //box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ombre pour donner une impression de profondeur */
  border: 1px solid var(--white);
  width: 500px; /* Taille de la modal */
  text-align: center; /* Centrer le contenu de la modal */
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal h2 {
  margin: 0 auto; /* Centrer le titre horizontalement */
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
}

.h2 {
  color: #ffffff;
}

.close-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
}

.modal-content {
  margin-top: 30px; /* Espacement entre le titre et le contenu */
}

.modal-content input {
  width: 100%; /* Remplir la largeur disponible */
  margin-bottom: 10px; /* Espacement entre les inputs */
}

.modal-content button {
  width: 100%; /* Remplir la largeur disponible */
}
